#map {
  width: 100vw; /* Ancho de la ventana */
  height: 100vh; /* Alto de la ventana */
}

.list-group {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

button {
  position: fixed;
  bottom: 30px;
  right: 20px;
}
