#map {
  width: 100vw; /* Ancho de la ventana */
  height: 100vh; /* Alto de la ventana */
}

.floating-range {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 999;
  width: 500px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.floating-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
